
<div class='UserDashboard maxwidth'>
  <h1 class='center text-center'>Dashboard ({{ user.account.name }})</h1>

  <ul>
    <li><a href='/node/add/contributed_post'>New Contributed Post</a></li>
    <li><a href='/node/add/venue'>New Venue</a></li>
    <li><a href='/node/add/location'>New Location</a></li>
    <li><a href='/node/add/advanced_page'>New Page for Youtube</a></li>
  </ul>

  <div class='container row'>
    <div class='col-md-6'>
      <h5>My Articles <a href='/node/add/contributed_post'>[add]</a></h5>
      {{ drupal_view('my_articles', 'block_1') }}
      <h5>My Locations <a href='/node/add/location'>[add]</a></h5>
      {{ drupal_view('my_locations', 'block_1') }}
    </div>
    <div class='col-md-6'>
      {# {{ drupal_entity_form('node', NULL, 'for_youtube', values={type: 'advanced_page'} ) }} #}
      <hr />
      <h5 class='center text-center' >Add a Youtube Video</h5>
      {{ for_youtube_form }}
      <hr />
    </div>
  </div>

</div>
